.register, .login {
  display: flex;
  justify-content: center;
}

.register .form-register {
  max-width: 400px;
}

.register h1, .register p, .login p {
  text-align: center;
}

.register #btn-submit {
  margin: auto;
  margin-bottom: 20px;
}

.login .form-login {
  max-width: 400px;
}

.login h1 {
  text-align: center;
}

.login #btn-submit {
  margin: auto;
  margin-bottom: 20px;
}

.register .error-msg{
  color: red;
  display: block;
  margin-top: -30px;
  font-style: italic;
}
.register .error-msg-2{
  color: red;
  display: block;
  font-style: italic;
}

.login .error-msg {
  color: red;
  font-style: italic;
}

.register .customer-name {
  display: flex;
}

.register .lastname-field {
  margin-right: 10px;
}

.register .gender-label {
  margin-right: 30px
}

.register .birthday-select {
  min-height: 34px;
  margin-left: 20px;
  width: 80px;
  padding: 5px 7px;
}

.register .birthday, .register .gender {
  margin-bottom: 30px;
}

.register .required-icon {
  color: red;
}

@media screen and (max-width: 420px) {
  .register .birthday-select {
    margin-left: 10px;
  }
  .register .birthday-day {
    margin-left: 20px;
  }
}

@media screen and (max-width: 400px) {
  .register .birthday-select {
    margin-left: 0px;
  }
  .register .birthday-day {
    margin-left: 20px;
  }
}

@media screen and (max-width: 374px) {
  .birthday-label {
    display: block;
  }
  .register .birthday-select {
    margin-left: 0;
  }
}

@media screen and (max-width: 270px) {
  .gender-label{
    display: block;
    margin-bottom: 0;
  }
}
