.register, .login {
  display: flex;
  justify-content: center;
}

.register .form-register {
  max-width: 400px;
}

.register h1, .register p, .login p {
  text-align: center;
}

.register #btn-submit {
  margin: auto;
  margin-bottom: 20px;
}

.login .form-login {
  max-width: 400px;
}

.login h1 {
  text-align: center;
}

.login #btn-submit {
  margin: auto;
  margin-bottom: 20px;
}

.register .error-msg{
  color: red;
  display: block;
  margin-top: -30px;
  font-style: italic;
}

.login .error-msg {
  color: red;
  font-style: italic;
}