.woocommerce ul.order_details li{
    margin-bottom: 10px;
    float: none;
    border:0px;
}
.woocommerce ul.products li.product a img{
    max-height: 300px;
}
.page-title{
    font-family: robotoMedium;
}
body{
    font-family: robotoLight;
}
h1, h2, h3, h4, h5, h6{
    font-family: robotoMedium;
}