/* detail right (product info) */
#content .primary-product-detail {
    width: 100%;
    padding: 0;
    float: none;
}
#content .primary-product-detail #main .product {
    overflow: hidden;
}
#content .primary-product-detail #main .product .related {
    display: none;
}
#content .primary-product-detail #main .product .woocommerce-tabs {
    display: none;
}
#content .primary-product-detail #main .product .summary .product_title {
    font-size: 30px;
    font-family: robotoMedium;
    text-transform: uppercase;
    margin-bottom: 0;
}
#content .flex-viewport {
    height: 450px !important;
}
#content .woocommerce-product-gallery__image {
    height: 450px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#content .woocommerce-product-gallery__image img {
    height: 450px;
    width: auto;
}
#content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li {
    /*max-height: 200px;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

#content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li img {
    max-height: 200px;
    width: auto;
    margin: 0 auto;
}
@media only screen and (max-width: 767px) {
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li {
        /*max-height: 152px;*/
    }
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li img {
        max-height: 152px;
    }
}
@media only screen and (max-width: 1024px) {
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li {
        /*max-height: 152px;*/
    }
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li img {
        max-height: 200px;
    }
}
@media only screen and (max-width: 875px) {
    #content .flex-viewport, #content .flex-active-slide, #content .woocommerce-product-gallery__image img {
        height: 400px !important;
    }
}
@media only screen and (max-width: 767px) {
    #content .primary-product-detail {
        padding: 0px 9px;
    }
    #content .primary-product-detail #main .product .summary .product_title {
        font-size: 27px;
    }
    .pdetail-nav-l, .pdetail-nav-r{
        display: none !important;
    }
}

@media only screen and (max-width: 575px) {
    #content .primary-product-detail #main .product .summary .product_title {
        font-size: 24px;
    }
}
@media only screen and (max-width: 430px) {
    #content .flex-viewport, #content .flex-active-slide, #content .woocommerce-product-gallery__image img {
        height: 394px !important;
    }
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li {
        /*max-height: 126px;*/
    }
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li img {
        max-height: 126px;
    }
    #content .woocommerce-product-gallery__image {
    height: 394px !important;
    }
}
@media only screen and (max-width: 375px) {
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li {
        /*max-height: px;*/
    }
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li img {
        max-height: 96px;
    }
    #content .woocommerce-product-gallery__image {
       height: 350px !important;
    }

    #content .flex-viewport, #content .flex-active-slide, #content .woocommerce-product-gallery__image img {
    height: 350px !important;
    }
}
@media only screen and (max-width: 330px) {
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li {
        /*max-height: 83px;*/
    }
    #content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li img {
        max-height: 83px;
    }
    #content .flex-viewport, #content .flex-active-slide, #content .woocommerce-product-gallery__image img {
        height: 270px !important;
    }
}

#content .primary-product-detail #main .product .summary .price .amount {
    color: #dd0000;
    font-size: 24px;
    font-family: robotoMedium;
}
#content .primary-product-detail #main .product .summary .price {
    margin-bottom: 12px;
}
#content .primary-product-detail #main .product .summary .cart .button {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #222;
    text-transform: uppercase;
    font-size: 16px;
    font-family: robotoMedium;
    padding: 15px;
}
#content .primary-product-detail #main .product .summary .cart .button:hover {
    border: 1px solid #e74054;
    color: #e74054;
}
#content .primary-product-detail #main .product .summary .woocommerce-product-rating {
    margin-bottom: 5px;
}
#content .primary-product-detail #main .product .summary .woocommerce-product-rating a.woocommerce-review-link {
    font-size: 18px;
    font-family: robotoLight;
    color: #222222;
}
#content .primary-product-detail #main .product .summary .woocommerce-product-rating div.star-rating {
    font-size: 18px;
}

#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 {
    list-style: none;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li .spd-row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li.spd-has-child .spd-row:hover {
    cursor: pointer;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li .spd-row .spdr-left {
    font-size: 18px;
    font-family: robotoMedium;
    width: 60%;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li .spd-row .spdr-right {
    font-size: 18px;
    font-family: robotoLight;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li .spd-row .spdr-left i.fa-heart {
    margin-right: 10px;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li .spd-row .spdr-right i.fa {
    margin-right: 20px;
    font-weight: bold;
    float: right;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.content-hide {
    list-style: none;
}

#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.spd-lv2-ly li::before {
    content: "\2022";
    color: #dea51c;
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
    margin-left: 0px;
    margin-right: 10px;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li .content-hide {
    border-bottom: 1px solid #cccccc;
    padding: 20px 20px 20px 30px;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: robotoLight;
    display: none;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.spd-lv2-csd .csd-type-list {
    border: 1px solid #f9bf11;
    border-radius: 50%;
    color: #e3ab01;
    font-size: 18px;
    font-family: robotoMedium;
    background-image: url("/wp-content/themes/shoppingcart/images/pdetail_bbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 5px;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.spd-lv2-csd > li {
    margin-bottom: 15px;;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.spd-lv2-csd li:last-child {
    margin-bottom: 0;;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.spd-lv2-csd .csd-wrap {
    display: flex;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.spd-lv2-csd .csd-wrap .lv2-csd-left {
    margin-right: 12px;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.spd-lv2-ly .ly-wrap {
    display: flex;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.spd-lv2-ly .ly-wrap .lv2-ly-left {
    margin-right: 12px;
}
#content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li ul.spd-lv2-ly .ly-wrap .lv2-ly-left .bullet-handle {
    width: 7px;
    height: 7px;
    background-color: #e8bd54;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 2px;
}

#content .primary-product-detail #main .product .summary .woocommerce-product-details__short-description {
    display: none;
}
#content .primary-product-detail #main .product .summary .product_meta {
    display: none;
}
#content .primary-product-detail #main .product .summary .yith-wcwl-add-to-wishlist {
    display: none;
}
#content .primary-product-detail #main .product .summary .price .woocommerce-Price-currencySymbol {
    display: none;
}
#content .primary-product-detail #main .product .summary .cart .quantity {
    /* display: none; */
    margin-bottom: 15px;
}
#content .primary-product-detail #main .product .summary .cart .quantity::before {
    content: "Số lượng";
    font-size: 16px;
    font-family: robotoMedium;
}
#content .primary-product-detail #main .product .summary .cart .quantity input {
    width: 70px;
}
article#page-7 .entry-content .woocommerce form.woocommerce-cart-form table.cart td.product-quantity .quantity input {
    width: 70px;
}

/* detail left (product gallery) */
#content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav {
    margin-left: -10px;
}
#content .primary-product-detail #main .product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    top: auto;
    bottom: 15px;
    right: 15px;
    border-radius: 0;
    width: 37px;
    height: 37px;
    background-color: #f8f8f8;;
}
#content .primary-product-detail #main .product .woocommerce-product-gallery .flex-viewport {
    border: 1px solid #cccccc;
}
#content .primary-product-detail #main .product .woocommerce-product-gallery .flex-viewport .pdetail-nav-l {
    position: absolute;
    width: 40px;
    top: calc(50% - 20px);
    left: 10px;
    cursor: pointer;
}
#content .primary-product-detail #main .product .woocommerce-product-gallery .flex-viewport .pdetail-nav-r {
    position: absolute;
    width: 40px;
    top: calc(50% - 20px);
    right: 10px;
    cursor: pointer;
}
#content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li {
    width: 33.333333%;
    padding-left: 10px;
    padding-top: 10px;
}

#content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li img {
    border: 1px solid #cccccc;
}
#content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li:nth-child(4n+1) {
    clear: none;
}
#content .primary-product-detail #main .product .woocommerce-product-gallery ol.flex-control-nav li:nth-child(3n+1) {
    clear: left;
    /* padding-left: 0; */
}
#content .primary-product-detail #main .product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::before {
    width: 0;
    height: 0;
    border: 0;
    background-image: url("/wp-content/themes/shoppingcart/images/pdetail_zoom_ic.png");
    background-repeat: no-repeat;
    top: 8px;
    left: 8px;
    position: absolute;
    height: 21px;
    width: 21px;
    border-radius: 0;
}
#content .primary-product-detail #main .product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::after {
    content: normal;
}

/* #ifr_pdetail {
    width: 100%;
    height: calc(100vh + 100px);
} */

.iframe-container {
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}
.iframe-container iframe {
    border: 0;
    width: 100%;
}

/* hide banner */
/* #masthead #site-branding {
    display: none;
}
#masthead #sticky-header-sticky-wrapper {
    visibility: visible;
} */

@media only screen and (max-width: 767px) {
    #content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li .spd-row .spdr-left {
    font-size: 18px;
    font-family: robotoMedium;
    width: 130%;
   }
   #content .primary-product-detail #main .product .summary .sum-pro-desc ul.spd-lv1 li .spd-row .spdr-right {
    font-size: 18px;
    font-family: robotoLight;
    width: 100%;    
   }

   span.info-user-login{
        position: fixed;
        top: 15px;
        z-index: 10000;
        right: 175px;
   }

   #sticky-header .header-right button, #site-branding .header-right .he-ri-btn button{
      font-size: 18px;
   }
}